.containerCarrousel {
    position: relative;
    width: 100%;
    height: 130px;
    background: linear-gradient(to bottom left, #e969c7 40%, #ffc39ed1 100%);
    border-radius: 15px;

  }
  
  .containerCarrousel a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 40px;
    top: 50%;
    transform: translatey(-50%);
  }
  
  .arrow-next {
    left: 90%;
  }

  .arrow-after {
    left: 10%;
  }
  
  .containerCarrousel a:hover {
    color: gray;
  }
  
  .current-slider {
    visibility: visible;
    opacity: 1;
    /* transition: visibility 1s, opacity 1s; */
  }

  .carousel{
    padding-top: 40px;
  }

  .title{
    padding-top: 10px;
    font-size: 5rem;
    color: white;
    font-style:unset;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }