*{
    margin: 0px;
    padding: 0px ;
}

main{
    width: 100%;
    /* min-height: 80vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-evenly;
    row-gap: 15px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 15px;
}

.datosEvento{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.datosEvento p{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#inputSearch{
    width: 100%;
    height: 40px;
    margin: 10px;
}

.ceroResult{
    font-size: 40px;
    color: red;
}

main .check-container .checkbox-search {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

@media (min-width: 990px){
    main .input-search input {
        width: 100%;
        border: 0;
        outline: 0;
        background-color: transparent;
        padding-left: 0.4rem;
        color: #fdfdfd;
        opacity: 0.7;
    }

main .input-search {
    width: 60%;
    gap: 0.4rem;
    color: #fdfdfd;
    order: 1;
}

main .check-container .checkbox-search {
    width: 100%;
    flex-direction: row;
    gap: 1.5rem;
}
}

@media (min-width: 766px){
main .input-search {
    width: 60%;
    gap: 0.4rem;
    color: #fdfdfd;
}
}