@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 0px;
}

*{
    margin: 0px;
    padding: 0px;
}
nav{
    padding: 10px 0px;
    height: 60px;
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left {
    float: left;
    padding: 12px;     
    display: inline-block;
    padding-bottom: 15px;
    max-width: 15%;
    object-fit: cover;
}

.top-links {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 0 20px 0 0;
    vertical-align: middle;
   }
   
   .top-links li {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
   }

.logo{
    max-width: 85%;
    object-fit: cover;
}

.logoaventegs{
    width: 100%;
}

ul.container
{
    font-family: Raleway;
    margin: 0 auto;
    padding-top: 1em;
	text-align: center;
}

nav .container{
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: #9b59b6;
    width: 200px;
    height: 500px;
    text-align: center;  
    border-radius: 20px;
    transition:  background-color .3s ease-in-out;
}

@media (min-width: 766px){
    nav .container
    {
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2rem;
        background-color: transparent;
        position: static;
        transform: translateX(0%);
    }
}


/* 
div.top-links{
    border: 5px solid red;
    height: 18vh;
    max-width: 2560px;
}

@media (min-width: 426px) and (max-width: 768px) {
    ul.container {
     max-width: 740px;
   }

   div.top-links{
    border: 5px solid red;
    height: 5vh;
    max-width: 160px;
   }

}

@media screen and (max-width: 425px) {
    ul.container {
      max-width: 370px;
    }

} */

ul.container a
{
    color: #f43692;
    text-decoration: none;
    font: 19px Raleway;
    margin: 0px 10px;
    padding: 10px 15px;
    position: relative;
    z-index: 0;
    cursor: pointer;
    float: right;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


ul.borderYtoX a:before, ul.borderYtoX a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: #b40f5e;
    transition: all 0.3s;
}

ul.borderYtoX a:before
{
    left: 0px;
    top: 0px;
}

ul.borderYtoX a:after
{
    right: 0px;
    bottom: 0px;
}

ul.borderYtoX a:hover:before, ul.borderYtoX a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}

/* NUEVO */
/* nav .nav-items a {
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    color: #9b59b6;
    width: 100px;
    text-align: center;  
    border-radius: 20px;
    transition:  background-color .3s ease-in-out;
  }
  
  nav .nav-items a.active {
    font-weight: bold;
  }
  
  nav .nav-items a:hover {
    background-color: #8e44ad;
    color: #fff;
  } */
  
  .hamburger {
    position: absolute;
    right: 10px;
    cursor: pointer;
    display: none;
  }
  
  .hamburger .hamb-line {
    width: 22px;
    background-color: #880757;
    height: 2px;
    margin: 4px;
  }
  
  .content{
    background-color: #fff;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
      font: 8px Raleway;
    }
    .nav-items {
      position: absolute;
      left: -280px;
      top: 0;
      transition: 0.3s ease-in;
      width: 280px;
      background-color: #000000;
      height: 100vh;
      z-index: 2;
    }
  
    .nav-items.display {
      left: 0;
    }
  
    nav .nav-items a {    
      padding: 30px 0;
      display: block;    
      width: 100%;
      margin: 0;
      border-radius: 0;    
    }

    .title {
        font-size: 0.2rem;
    }

    .logoaventegs{
        width: 150%;
    }
  }
  